# Compilados (Executáveis)
output/
*.exe
*.out
*.app

# Objetos e bibliotecas
*.o
*.a
*.so

# Pastas do VS Code (Configurações locais de debug)
.vscode/
*.code-workspace

# Logs e arquivos temporários
*.log
tmp/